.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url("fotobanner.png");
}

h5 {
  font-size: 30px;
  font-family: "Philosopher", "sans-serif";
}
