.box {
width: 50%;
max-height: auto;
text-align: center;
margin: 0 auto;
padding: 10px 10px;
background-color: $white;
color: $purple;
border-radius: 30px;
font-family: "Philosopher", "sans-serif";
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

h1 {
  color: $pink;
}
}
