@import url('https://fonts.googleapis.com/css?family=Montserrat|Cardo');

/* HEADER */
.main_h {
  position: fixed;
  top: -100px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 6px;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

@media only screen and (max-width: 766px) {
  .main_h { padding-top: 25px; }
}

.open-nav { max-height: 400px !important; }
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.sticky {
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  text-transform: uppercase;
  float: left;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo { float: none; }
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 766px) {
  nav { width: 100%; }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle { display: block; }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* { box-sizing: border-box; }


a { text-decoration: none; }

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

/* HERO */
.hero {
  position: relative;
  background: url("https://picsum.photos/2000/1200") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding-top: 110px;
  min-height: 400px;
  letter-spacing: 2px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url("banner.jpg");
}

.hero h1 {
  font-size: 50px;
  line-height: 1.3;
  text-shadow: 2px 2px 8px $black;
  color: white;
  font-family: "Libre Franklin", "sans-serif";

}

.hero p {
  color: $white;
  font-size: 20px;
  text-shadow: 2px 2px 8px $black;
  color: white;
  font-family: "Philosopher", "sans-serif";
}

.hero h1 span {
  font-size: 25px;
  color: $pink;
  border-bottom: 2px solid $pink;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid $pink;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -26px;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: $pink;
  animation: scroll 1s infinite;
}

@keyframes scroll {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}
