.messages-left {
  text-align: left;
  width: auto;
}

.message-wrapper.left .message-content {
  position: relative;
  background: #f1f1f1;
  padding: 10px 12px;
  border-radius: 12px;
  max-width: 100%;
  color: $purple;
  margin-top: 10px;

  h3 {
    font-size: 20px;
    color: $pink;
  }

  h1, h2, h4, h5  {
    font-size: 15px;
    color: $pink;
  }

}

.message-wrapper.left .message-content::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f1f1f1;

}
