.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.avatar .img {
 width: 40px;
}

.nav-link {
  align-items: center;
  margin-right: 10px;
  background-color: $purple;
  padding-left: 3px;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  color: $white;
font-family: 'Libre Franklin', sans-serif;
font-style: italic;
font-weight: 700;  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.167s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: #004182;
    text-decoration: none;
  }
}
