.show-title {
  font-size: 40px;
  font-family: "Libre Franklin";
  color: $pink;
  border-style: groove;
  border-radius: 20px;
  border-color: $blue;
}

.division-show {
  border-style: groove;
  border-radius: 20px;
  border-color: $blue;
  margin: 10px;
  padding: 8px;
  text-align: left;

   h1 {
    font-size: 25px;
    color: $pink;
  }

    h2 {
    font-size: 17px;
    color: $pink;
  }

    h3, h4, h5  {
    font-size: 15px;
    color: $pink;
  }
}
