.show-title {
  font-size: 60px;
  font-family: "Libre Franklin";
  color: $pink;
  border-style: groove;
  border-radius: 20px;
  border-color: $blue;
}

.division-show {
  border-style: groove;
  border-radius: 20px;
  border-color: $blue;
  margin: 10px;
  padding: 8px;
  text-align: left;
}
