// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');



// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/banner";
@import "components/button-box";
@import "components/box";
@import "components/card-plan";
@import "components/show-title";
@import "components/chat_box";
